# Node.js
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Django
db.sqlite3
db.sqlite3-journal
media/
static_root/
staticfiles/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
